html {
  font-size: 10px;
  background: #131614;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  color: #87BAC8;
  text-align: center;
  font-size: 10rem;
  text-transform: uppercase;
  margin: 10px 0px 0px 0px;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid #87BAC8;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: #87BAC8;
  background: rgba(0,0,0,0.4);
}

.playing {
  transform: scale(1.1);
  border-color: #1589D1;
  box-shadow: 0 0 1rem #1589D1;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #1589D1;
}
